<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @doc_categorium.nome %>
</p>

<%= link_to 'Edit', edit_doc_categorium_path(@doc_categorium) %> |
<%= link_to 'Back', doc_categoria_path %>
